.body{
  margin:0;
  box-sizing:border-box;
}

.main input, .textarea {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  padding: 10px 10px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
}

.textarea{
  height: 150px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.main h3{
  margin: 0;
  padding: 0;
  color: #202123;
}
.main h2{
  color: #202123;
  font-size: 30px;
  font-family: Georgia, serif;
  font-weight: bold;
  text-align:center;
}
.main .title {
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  padding: 25px;
  box-shadow: .25rem .5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.main .result {
  font-family: Merriweather, serif;
  color: #353740;
  font-weight: bold;
  margin: 40px;
  padding: 30px;
  max-width: 80vw;
  border-radius: 2px;
  box-shadow: .25rem .5rem 1rem 0 rgba(0, 0, 0, 0.4);
}